.containD{
margin-top: 10px;
width: 950px;
height: fit-content;
border: 0;
padding: 20px;
z-index: 1000;
position: absolute;
background: rgba(38, 38, 38, 0.227);
box-shadow: 0 25px 45px rgba(0,0,0,0.1);
border: 1px solid rgba(250, 250, 250, 0.5);
border-right: 1px solid rgba(25,255,255,0.2);
border-bottom: 1px solid rgba(255,255,255,0.2);
backdrop-filter: blur(60px);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex; 


}

.detailsI{
width:475px;
float: left;
padding-right: 20px;
}

.detailsI h1{
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
}

.detailsI h3{
    font-family: 'Outfit', sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
     font-size: 22px; 
    text-transform: uppercase;
    font-weight: 200;
    line-height: 5px;
}
.detailsI h5{
    font-family: 'Outfit', sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
     font-size: 16px; 
    text-transform: uppercase;
    font-weight: 200;
    line-height: 5px;
}

.detailsI p{
    font-family: 'Outfit', sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 0;
   
}

.ac{
  border-top: 1px solid  #ffffff22;
  width:430px;
}

.details{
float: right;
width: 50%;
text-align: justify;
border-left: 1px solid  #ffffff4b;
padding-left: 20px;

 }

 .details p{
    font-family: 'Outfit', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
   
   
 }




 .link button {
    font-family: 'Outfit', sans-serif;
    background: transparent;
    position: absolute; 
    padding: 7px 20px;
      /* display: flex;   */
     /* align-items: center;  */
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffffff;;
    border-radius: 25px;
    letter-spacing: 3px;
    outline: none;
    overflow: hidden;
    color: #ffffff;;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin-left: -90px;



    z-index: 100;
  }
 
 .link button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
   .link button:hover {
    color: rgb(35, 34, 34);
    border: 1px solid #ffffff;;
  }

  .link button:hover::before {
    box-shadow: inset 0 0 0 10em #ffffff;;
  }
   


