
.pageNumbers{
list-style: none;
display: flex;
justify-content: center;

}

.pageNumbers li{
font-family: 'Outfit', sans-serif;
padding: 0.7rem 1rem;
font-size: 15px;
border-radius: 45px;
cursor: pointer;
text-align: center;
margin-right: 10px;
color:  #00fbff;
  

}

.pageNumbers li.active{
background-color:    #111c306e;
color: white;
}



.pageNumbers li button{
background-color: transparent;
border: none;
color:  #00fbff;
font-size: 15px;
cursor: pointer;
text-transform: uppercase;
letter-spacing: 2px;

}

.pageNumbers li button:hover{
color: white;
}

.pageNumbers li button:focus{
outline: none;
} 

