/* .pagination{
    padding: 30px 0;
  }

  .pagination nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .pagination nav ul li{
    display: inline-block;
    padding: 10px 15px;
    color: #fbfbfb;
  }

  .pa a{ 
    font-family: 'Outfit', sans-serif;
    width: 30px;
    height: 30px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    margin: auto 2px;
   
  }
  
 .pa a:hover{
    color: #ff2028;
  }
 */

  

 .pageNumbers{
  list-style: none;
  display: flex;
  justify-content: center;

}

.pageNumbers li{
  font-family: 'Outfit', sans-serif;
  padding: 0.7rem 1rem;
  font-size: 15px;
  border-radius: 45px;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  color:  #00fbff;
  

}

.pageNumbers li.active{
  background-color:    #111c306e;
  color: white;
}

.pageNumbers li button{
  background-color: transparent;
  border: none;
  color:  #00fbff;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.pageNumbers li button:hover{
  color: white;
}

.pageNumbers li button:focus{
  outline: none;
} 



/* 
.paginationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.paginationClick {
  width: 22px;
  height: 22px;
  margin: 35px 10px;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(0, 255, 170);
  color: rgb(255, 255, 255);
  filter: drop-shadow(2px 2px 2px #ffffff);
}

.paginationClick:hover {
  background-color: #17c3b2;
  transition: all 0.5s ease-in-out;
}


.buttonNext {
  margin-right: 15px;
  position: relative;
  background: none;
  border: solid 1px #17c3b2;
  color: #ffffff;
  transition: linear 250ms;
  width: 50px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.buttonNext:is(:hover, :focus) {
  color: #fff;
}

.buttonNext::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background-color: #13ecda;
  transform-origin: left;
  transform: scaleX(0);
  transition: linear 250ms;
}

.buttonNext:is(:hover, :focus)::after {
  transform: scale(1);
}

.buttonPrevious {
  margin-top: 1px;
  position: relative;
  background: none;
  border: solid 1px #17c3b2;
  color: #ffffff;
  transition: linear 250ms;
  width: 50px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.buttonPrevious:is(:hover, :focus) {
  color: #000;
}

.buttonPrevious::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background-color: #13ecda;
  transform-origin: left;
  transform: scaleX(0);
  transition: linear 250ms;
}

.buttonPrevious:is(:hover, :focus)::after {
  transform: scale(1);
}

.active {
  width: 22px;
  height: 22px;
  margin: 35px 10px;
  cursor: pointer;
  text-align: center;
  border: 2px solid #009ffc;
  background-color: black;
  color: rgb(255, 255, 255);
  filter: drop-shadow(2px 2px 2px #ffffff);
}


@media screen and (max-width:575px) {
  .buttonNext, .buttonPrevious {
    width: 30px;
  }

  .paginationClick {
    width: 17px;
  }

  .active {
    width: 18px;
  }
} */