.nav ul{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
    list-style-type: none;
    /* background-color:#c40405;  */
    margin: 0;
    text-decoration: none;
    
    }

.nav ul li h1{
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    letter-spacing: 8px;
    color: #00fbff;
    font-size: 25px;
}
    
.nav ul li a{
        text-decoration: none;
        color: white ;
        font-family: 'Outfit', sans-serif;
        font-size: 15px;
        letter-spacing: 5px;
   
        /* letter-spacing: 1px; */
        position: relative;
       
    
    }
    